body {
    background-color: #ffffff;

}

.topbar {
    
    border-style: double; 
    border-color: /*transparent;*/ rgb(255, 0, 200);
    border-bottom-color: rgb(128, 128, 128);

}

#Name {
    background: #4aaaa5;
    color: white;
    position: relative;
    bottom: 0px;
    font-size: 30px;
    width: 260px;
    float: left;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}



.top-right-nav { 
    
    
    font-size: 24px;
    float: right;
    position:absolute;
    top: 10px;
    right: 0px;
    padding: 10px 20px 10px 20px;
    width: 700px;
    margin: 0;
    text-align: center;
    
   

}
.background {
    clear: both;

    padding: 40px;
    border-style: double; 
    border-color: /*transparent;*/ rgb(0, 255, 76);
    /*border-bottom-color: grey;*/
    overflow: auto;

}
article {
    padding: 20px;
    border-style: double; 
    border-color: /*transparent;*/ blue;
    border-bottom-color: grey;
    
}

h1 {
    font-size: 32px;
    color: #4aaaa5;
    background: whitesmoke;
    border-style: double; 
    border-color: transparent; 
    border-bottom-color: grey;

}

.borderline {
    background: brown;

}
img {
    /*clear: both;
    overflow: auto;*/
    float: left;
    width: 200px;
    height: 200px;
}


section {
    
    
    color: red;

    font-size: 30px;
}

p { 
    background: blue;
}

footer {
    clear: both;
    overflow: auto;
}
